<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>优惠券</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />

	</head>

	<body class="" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">优惠券</h1>
		</header>
		<div class="mui-topnav-bar flexCon">
			<button class="flexOne cur" index="0" @click="checkItem(0)">未开始</button>
			<button class="flexOne"  index="1" @click="checkItem(1)">进行中</button>
			<button class="flexOne" index="2" @click="checkItem(2)">已过期</button>
		</div>
		<div class="mui-content mui-scroll-wrapper paddingtop85 paddingbom50 discountPage mebcoupage" id="tochange" v-show='!showData'>
			<div class="mui-scroll fontsize12">
				<ul class="mui-table-view" id="itemList">
					<li class="mui-table-view-cell"  v-for='(index,item) in items'> 
						<div class="mui-input-row mui-radio mui-left">
							<label><div class="couponList flexCon">
							<div class="couponImg">{{item.couponType=='1'?'减':'折'}}</div>
							<div class="couponText flexOne">
								{{item.couponName}}<br>使用条件：{{item.couponName}}<br>使用时间：{{item.lifespan}}
							</div>
							<div class="couponcount">剩余数量:{{item.couponCodeNumber||0}}</div>
						</div>
						
					</label>
							<input name="radio1" type="radio" index='{{index}}'>
						</div>
						<button class="discopyBtn" v-if='tabtype!=2' @click='copyCoupon(item.couponCodeReceive)'>复制优惠券链接</button>
					</li>
				</ul>

			</div>
		</div>
		<div class="noData" v-show='noData'>没有相关数据</div>
		<div class="noData" v-show='showData'>数据加载中</div>
		<nav class="mui-bar mui-bar-tab dis-nav-bar" v-else>
			<button type="button" class="mui-btn" @click='goback()'>
					上一步
				</button>
			<button type="button" class="mui-btn mui-btn-primary" @click='gonext()'>
					下一步
				</button>
		</nav>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="selectcoupon.js"></script>

</html>