<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>购物篮</title>
		<link href="../css/mui.css" rel="stylesheet" />
		<link href="../css/iconfont.css" rel="stylesheet" />
		<link href="../css/styleAll.css" rel="stylesheet" />
	</head>

	<body class="detail-bc bodyBottom107" id="cashrCart">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">购物篮</h1>
			<span class="mui-icon iconfont icon-saomiao orderScan" @click="scanItem()"></span>
		</header>
		
		<div class="mem-keep-out" v-if="fuzzyData.length>0">
			<div class="mem-con">
				<h3>请选择商品</h3>
				<button class="layermend" @click="closeMask()"></button>
				<div class="mem-text">
					<ul class="mui-table-view">
						<li class="fuzzyTag" v-for="(index,item) in fuzzyData" dex="{{index}}"  barcode="{{item.barcode}}">
							<div class="mui-input-group">
								<div class="flexCon">
									<div class="mui-input-row mui-checkbox flex-checkwidth">
										<input name="checkbox" class="changeinput" type="checkbox"  barcode="{{item.barcode}}">
									</div>
									<div class="flexOne">
										<a class="flexCon">
											<img class="goodsImg" v-bind:src="item.productPic || '../images/logo.png'">
											<div class="flexOne lineheight7">
												<span v-cloak>
												{{item.productName}}
											</span>
												<span v-cloak>
												{{item.productNumber}}
											</span>
												<span v-cloak>
												{{item.skuName}}
											</span>
											</div>
											<div class="flex-width90 lineheight7 mui-text-right">
												<span>价格：¥{{item.price}}</span>
												<span>
													&nbsp;
												</span>
												<span>
													*1
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</li>
						
					</ul>
				</div>
				<div class="mem-btn flexCon">
					<button class="flexOne" @click="closeMask()">取消</button>
					<button class="flexOne" @click="addItems()">保存</button>
				</div>
			</div>
		</div>
		<div class="search-con">
			<div class="switchBox">
				<div class="flexCon">
					<a href="#listPopover" class="mui-icon mui-icon-list"></a>
					<div class="flexOne">
						<input type="search" id="searchTxt" v-model="searchtext" class="" placeholder="请输入要搜索的{{searchType}}" />
						<span class="mui-icon mui-icon-search"></span>
					</div>
					<button class="" @click="searchItem()">搜索</button>
				</div>
			</div>
		</div>
		<div class="mui-content mui-scroll-wrapper paddingtop85">
			<div class="mui-scroll fontsize12">
				<ul class="mui-table-view" v-if="items.length>0">
					<li class="mui-table-view-cell ListTag" v-for="(index,item) in items" dex="{{index}}">
						<div class="mui-slider-right mui-disabled"><a class="mui-btn swipe-btn mui-btn-red" @click="delete(index)">删除</a></div>
						<div class="mui-input-group mui-slider-handle">
							<div class="flexCon">
								<div class="flexOne">
									<a class="flexCon">
										<img class="goodsImg" v-bind:src="item.productPic || '../images/logo.png'">
										<div class="flexOne lineheight7">
											<span v-cloak>
												{{item.productName}}
											</span>
											<span v-cloak>
												{{item.productNumber}}
											</span>
											<span v-cloak>
												{{item.skuName}}
											</span>
										</div>
										<div class="flex-width90 lineheight7">
											<span class="mui-text-right">价格：¥{{item.price}}</span> 
											<div class="mui-numbox mui-flex-numbox" data-numbox-min="0">
												<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
												<input class="mui-numbox-input" type="number" value="1">
												<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="listPopover" class="mui-popover mui-bar-popover detail-pop">
			<div class="mui-popover-arrow"></div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" pid="productName">
					商品名称
				</li>
				<li class="mui-table-view-cell" pid="productNumber">
					商品编码
				</li>
				<li class="mui-table-view-cell" pid="skuName">
					规格名称
				</li>
				<li class="mui-table-view-cell" pid="skuNumber" >
					规格编码
				</li>
				<li class="mui-table-view-cell" pid="barcode" >
					商品条码
				</li>
				<li class="mui-table-view-cell"  pid="ourPrice">
					价格
				</li>
				<li class="mui-table-view-cell" pid="infrared" >
					红外扫描
				</li>
			</ul>
		</div>
		<div class="bottomMenu">
			<div class="mui-pull-right">
				<button class="mui-btn-mini" @click="readyPay()">结算</button>
			</div>
			<div class="mui-pull-right delBtn">
				<button class="mui-btn-mini" @click="holdAll()" id="holdBtn">挂起</button>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/vue.js"></script>
	<script src="../js/app.js"></script>
	<script src="cashrCart.js"></script>
	<script>
		
	</script>

</html>