<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>定金管理</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />

	</head>

	<body id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">定金管理</h1>
			<button class="mui-btn mui-btn-mini mui-btn-primary mui-pull-right" @click="addAddress()">新建</button>
		</header>
		<div class="search-con">
			<div class="switchBox">
				<div class="flexCon">
					<div class="flexOne">
						<input type="search" v-model="searchtext" class="" placeholder="" v-on:keyup.13="searchItem()"/>
						<span class="mui-icon mui-icon-search"></span>
					</div>
					<button class="" @click="searchItem()">搜索</button>
				</div>
			</div>
		</div>
		<div class="mui-content mui-scroll-wrapper paddingtop85" id="tochange" v-show='!noData&&!showData'>
			<div class="mui-scroll fontsize12">
				<ul class="mui-table-view" id="orderList">
					<li class="mui-table-view-cell" v-for="(index, item)  in items">
						<div class="mui-input-group">
							<div class="flexCon">
								<div class="flexOne">
									<a class="flexCon" payId="{{item.orderNumber}}">
										<div class="flexOne lineheight7">
											<span v-cloak>
												{{item.orderNumber}}
											</span>
											<span class="fontOrange">
												{{item.status==0?item.orderType==0?"未红冲":"":"未支付"}}&nbsp;
											</span>
											<span>
												付款人：{{item.payer}}
											</span>
										</div>
										<div class="flexOne lineheight7 mui-text-right">
											<span v-cloak>
												创建时间：{{item.created}}
											</span>
											<span class="fontOrange" v-cloak>
												实收定金：{{item.amount}}元
											</span>
											<span v-cloak>
												联系方式：{{item.mobilephone}}
											</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	<div class="noData" v-if='noData'>没有相关数据</div>
		<div class="noData" v-if='showData'>数据加载中</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="payLog.js"></script>

</html>