<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>订单详情</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />

	</head>

	<body class="detail-bc bodyBottom107" id="cashrDetail">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">订单详情</h1>
		</header>
		<div class="mem-keep-out" v-if="fullRoleshow">
			<div class="mem-con">
				<h3>选择满减条件</h3>
				<button class="layermend" @click="closeMask()"></button>
				<div class="mem-text">
					<div class="mui-input-row mui-radio mui-left supplierDiv" v-for="fullRole in fullRoles">
						<label v-cloak>满{{fullRole.full}}减{{fullRole.cut}}</label>
						<input name="radio" full="{{fullRole.full}}" cur="{{fullRole.cut}}" type="radio">
					</div>
				</div>
				<div class="mem-btn flexCon">
					<button class="flexOne" @click="closeMask()">取消</button>
					<button class="flexOne" @click="saveRoles()">保存</button>
				</div>
			</div>
		</div>
		<div class="mem-keep-out" v-if="showCardpay">
			<div class="mem-con">
				<h3>请输入卡号和密码</h3>
				<button class="layermend" @click="closeCardpay()"></button>
				<div class="mem-text">
					<ul class="mui-table mui-table-view">
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>会员卡</label>
								<input type="number" v-model="memberCardNumber" placeholder="请输入会员卡号">
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>密码</label>
								<input type="password" v-model="password" placeholder="请输入密码">
							</div>
						</li>
					</ul>
				</div>
				<div class="mem-btn flexCon">
					<button class="flexOne" @click="closeCardpay()">取消</button>
					<button class="flexOne" @click="cardPay()">保存</button>
				</div>
			</div>
		</div>
		<div class="mui-content">
			<div class="detail-head">
				<div class="flexCon">
					<div class="flexOne">{{thisData}}</div>
					<div class="flex-width75 mui-text-right">未付款</div>
				</div>
				<div class="detail-msg">
					<span>{{store}}</span>
					<span>{{op}}</span>
				</div>
			</div>
			<div class="detail-name">商品信息</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell ListTag">
					<div class="mui-input-group">
						<div class="flexCon">
							<div class="flexOne">
								<a class="flexCon" v-for="product  in items">
									<img class="goodsImg" v-bind:src="product.productPic || '../../images/cbd.jpg'">
									<div class="flexOne lineheight7">
										<span v-cloak>
												{{product.productName}}
											</span>
										<span v-cloak>
												{{product.skuNumber}}
											</span>
										<span v-cloak>
												{{product.skuName}}
											</span>
									</div>
									<div class="flex-width120 lineheight7 mui-text-right">
										<span v-cloak>
												￥{{product.price}}
											</span>
										<span>
												&nbsp;
											</span>
										<span v-cloak>
												*{{product.count}}
											</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="detail-name">配送方式</div>
			<div class="detail-deliver">
				{{sendType=="SINCE"?"现场自提":sendType=="STORE_DELIVER"?"门店配送":"线上发货"}}
			</div>
			<div class="detail-name" v-show="addressObj.consignee.length>0">买家信息</div>
			<div class="detail-deliver changeHigh" v-show="addressObj.consignee.length>0">
				<p>收货人：{{addressObj.consignee}}</p>
				<p>手机号：{{addressObj.mobilePhone}}</p>
				<p>地址：{{addressObj.address}}</p>
			</div>
			<div class="detail-name" v-show="sendType!='SINCE'">运费</div>
			<div class="detail-deliver" v-show="sendType!='SINCE'">
				¥
				<div class="mui-numbox mui-flex-numbox" data-numbox-min="0">
					<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
					<input class="mui-numbox-input" type="number" v-model="fee" value="{{fee}}">
					<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
				</div>
			</div>
			<div class="detail-name" v-show="fullRoleName.length>0||couponName.length>0">优惠信息</div>
			<div class="detail-deliver" v-show="fullRoleName.length>0||couponName.length>0">
				{{fullRoleName}} {{couponName}}
			</div>
			
			<div class="detail-name" v-show="!!memberMsg.memberLevelId">会员信息</div>
			<div class="detail-deliver" v-show="!!memberMsg.memberLevelId">
				会员等级：{{memberMsg.memberLevelName}}；&nbsp;&nbsp;&nbsp;会员折扣：{{memberMsg.memberDiscount=="1"?"不打折":memberMsg.memberDiscount=="0"?"免费":memberMsg.memberDiscount*10+"折"}}
			</div>
			<div class="detail-name">Erp内部备注</div>
			<div class="detail-deliver" style="height:auto">
				<textarea  v-model="erpMemo"></textarea>
			</div>
			<div class="detail-name" v-show="giveGoods">赠送商品</div>
			<div class="detail-deliver" v-show="giveGoods"  style="height:auto">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="mui-input-group">
							<div class="flexCon">
								<div class="flexOne">
									<a class="flexCon" v-for="product  in giveGoodsContent">
										<img class="goodsImg" v-bind:src="product.productPic || '../../images/cbd.jpg'">
										<div class="flexOne lineheight7">
											<span v-cloak>
												{{product.productName}}
											</span>
											<span v-cloak>
												{{product.skuNumber}}
											</span>
											<span v-cloak>
												{{product.skuName}}
											</span>
										</div>
										<div class="flex-width120 lineheight7 mui-text-right">
											<span>
												&nbsp;
											</span>
											<span>
												&nbsp;
											</span>
											<span v-cloak>
												*{{product.freeCount}}
											</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="detail-name" v-show="giveGoods">赠品图</div>
			<div class="detail-deliver" v-show="giveGoods"  style="height:auto">
				<img v-bind:src="giveUrl || '../../images/cbd.jpg'" >
			</div>
		</div>
		<div class="bottomMenu detail-menu">
			<div class="flexCon">
				<div class="flexOne mui-text-left">共{{items.length}}件商品</div>
				<div class="flexOne mui-text-right fontOrange">商品小计：{{mprice}}</div>
			</div>
			<div class="flexCon fontOrange">
				<div class="flexOne mui-text-left">运费：¥{{fee}} 优惠：¥{{coupons}}</div>
				<div class="flexOne mui-text-right">应付：¥{{totalPrice}}</div>
			</div>
			<div class="detail-btmBtn">
				<button class="mui-btn-mini" @click="goVipinfo()">会员信息</button>
				<a href="#dispatchPopover">
					<button class="mui-btn-mini">修改配送方式</button>
				</a>
				<a href="#discountPopover">
					<button class="mui-btn-mini">优惠核销</button>
				</a>
				<a href="#payPopover">
					<button class="mui-btn-mini">付款</button>
				</a>

			</div>
		</div>
		<div id="dispatchPopover" class="mui-popover mui-bar-popover detail-pop">
			<div class="mui-popover-arrow"></div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" sendId="SINCE">
					<div>现场自提</div>
				</li>
				<li class="mui-table-view-cell" sendId="STORE_DELIVER">
					<a href="#">
						<div>门店配送</div>
					</a>
				</li>
				<li class="mui-table-view-cell" sendId="ONLINE_DELIVER">
					<a href="#">
						<div>线上发货</div>
					</a>
				</li>
			</ul>
		</div>
		<div id="discountPopover" class="mui-popover mui-bar-popover detail-pop">
			<div class="mui-popover-arrow"></div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" @click="loadFullRoles()" style="display: none;">
					<div>优惠满减</div>
				</li>
				<li class="mui-table-view-cell" @click="enterCoupon()">
					<div>输入优惠码</div>
				</li>
				<li class="mui-table-view-cell" @click="scanCoupon()">
					<div>扫描优惠码</div>
				</li>
			</ul>
		</div>
		<div id="payPopover" class="mui-popover mui-bar-popover detail-pop scroll">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell" pid="{{payment.paymentType}}" v-for="payment in payments">
							{{payment.paymentName}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="cashrDetail.js"></script>

</html>