<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>新建优惠券</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />
		<link href="../../styles/mui.picker.min.css" rel="stylesheet" />
	</head>

	<body class="creat-bc" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">新建优惠券</h1>
		</header>
		<div class="mui-content mui-scroll-wrapper paddingbom50">
			<div class="mui-scroll">
				<ul class="mui-table mui-table-view discountPage">

					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>优惠券类型</label>
							<select class="mui-buyer-select" v-model="distype">
								<option value="0">请选择优惠券类型</option>
								<option value="1">满减券</option>
								<option value="2">折扣券</option>
							</select>
							<span class="mui-navigate-right downIcon"></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>使用类型</label>
							<select class="mui-buyer-select" v-model="usetype">
								<option value="0">请选择使用类型</option>
								<option value="1">满订单金额可使用</option>
							</select>
							<span class="mui-navigate-right downIcon"></span>
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>优惠券名称</label>
							<input type="text" placeholder="请输入优惠劵名称" v-model="couponname">
						</div>
					</li>
					<li class="mui-table-view-cell" v-if='distype==1'>
						<div class="mui-input-row">
							<label>优惠面额</label>
							<input type="text" placeholder="请输入优惠面额" v-model="couponval" @blur="intNum(1)">
						</div>
					</li>
					<li class="mui-table-view-cell" v-if='distype==2'>
						<div class="mui-input-row">
							<label>优惠折扣</label>
							<input type="text" placeholder="请输入优惠折扣" v-model="discount" @blur="discountMatch()">
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>订单满额</label>
							<input type="text" placeholder="请输入订单满额" v-model="condition" @blur="intNum(2)">
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row">
							<label>生成数量</label>
							<input type="text" placeholder="请输入生成数量" v-model="count" @blur="intNum(3)">
						</div>
					</li>
					<li class="mui-table-view-cell">
						<div class="mui-input-row discountRow">
							<label>起始时间</label>
							<button class="btn mui-btn mui-btn-block" @click='optionTime({"type":"date time"},1)'>{{beginFont}}</button>
						</div>
						<div class="mui-input-row discountRow">
							<label>结束时间</label>

							<button class="btn mui-btn mui-btn-block" @click='optionTime({"type":"date time"})'>{{endFont}}</button>
						</div>
					</li>
				</ul>
				<p class="distips">不与其他优惠券同时使用</p>
				<div class="disexplain">

					<p>其他说明：</p>
					<textarea v-model="disexplain"></textarea>
				</div>
			</div>

		</div>
		<nav class="mui-bar mui-bar-tab dis-nav-bar">
			<button type="button" class="mui-btn" @click='resetData()'>
					重置
				</button>
			<button type="button" class="mui-btn mui-btn-primary" @click='gonext()'>
					下一步
				</button>
		</nav>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/mui.picker.min.js"></script>
	<script src="createDiscount.js"></script>

</html>