<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>优惠券</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />

	</head>

	<body class="" id="vue">
		<div class="mui-topnav-bar flexCon mui-topnav-sub">
			<button class="flexOne cur" index="0" @click="checkItem(0)">未开始</button>
			<button class="flexOne"  index="1" @click="checkItem(1)">进行中</button>
			<button class="flexOne" index="2" @click="checkItem(2)">已过期</button>
		</div>
		<div class="mui-content mui-scroll-wrapper paddingtop41 discountPage" id="tochange"  v-show='!showData'>
			<div class="mui-scroll fontsize12">
				<ul class="mui-table-view" id="itemList" style="display: none;" v-show='items.length>0'>
					<li class="mui-table-view-cell" v-for='item in items'>
						<div class="couponList flexCon">
							<div class="couponImg">{{item.couponType=='1'?'减':'折'}}</div>
							<div class="couponText flexOne">
								{{item.couponName}}<br>使用条件：{{item.couponName}}<br>使用时间：{{item.lifespan}}
							</div>
							<div class="couponcount">剩余数量:{{item.couponCodeNumber||0}}</div>
						</div>
                        <button class="discopyBtn"  v-if='tabtype!=2' @click='copyCoupon(item.couponCodeReceive)'>复制优惠券链接</button>
					</li>
				</ul>

			</div>
		</div>
		<div class="noData" v-show='noData' style="display: none;">没有相关数据</div>
		<div class="noData" v-show='showData' style="display: none;">数据加载中</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="index.js"></script>

</html>