<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>预览</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />

	</head>

	<body class="" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">预览</h1>
		</header>
		<div class="discounter" v-if='!showData'>
			<img class="disIcon"  v-bind:src="logo || '../../images/about-logo.png'">
			<div class='disImg'>
				<div class="disName" v-if='couponData.couponType==1'>
					<div class="disNamet">
						<span>￥</span>{{couponData.denomination}}
					</div>
					<p>元优惠劵</p>
				</div>
				<div class="disName" v-else>
					<div class="disNamet" style="right:120px">
						{{couponData.discount}}
					</div>
					<p style="right:70px">折优惠券</p>
				</div>
			</div>
			<h1>{{couponData.couponName}}</h1>
			<button class="mui-btn mui-btn-primary"> 立即使用 </button>
			<p>使用条件：{{!couponData.orderAmount?'全场通用':'满'+couponData.orderAmount+'可用'}}<br>使用时间：{{couponData.startTime}}至{{couponData.endTime}}<br>使用说明：{{couponData.memo}}</p>
		</div>
		<div class="noData" v-else>数据加载中</div>
		<nav class="mui-bar mui-bar-tab dis-nav-bar" v-if='!showData'>
			<button type="button" class="mui-btn" @click='goback()'>
					上一步
				</button>
			<button type="button" class="mui-btn mui-btn-primary" @click='save()'>
					完成
				</button>
		</nav>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="scanCoupon.js"></script>

</html>