<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>收银台</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />
	</head>

	<body class="" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">收银台</h1>
			<a class="mui-pull-right whiteText caser-node-btn" @click='gocaserNode()'>收款记录</a>
		</header>
<div class="mem-keep-out" v-if="showCardpay">
			<div class="mem-con">
				<h3>请输入卡号和密码</h3>
				<button class="layermend" @click="closeCardpay()"></button>
				<div class="mem-text">
					<ul class="mui-table mui-table-view">
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>会员卡</label>
								<input type="text" v-model="memberCardNumber" placeholder="请输入会员卡号">
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>密码</label>
								<input type="password" v-model="password" placeholder="请输入密码">
							</div>
						</li>
					</ul>
				</div>
				<div class="mem-btn flexCon">
					<button class="flexOne" @click="closeCardpay()">取消</button>
					<button class="flexOne" @click="cardPay()">保存</button>
				</div>
			</div>
		</div>
		<div class="mui-content mui-scroll-wrapper whiteBackground">
			<div class="caserin-content">
				<h5>收款金额</h5>
				<div class="mui-input-row">
					<input type="text" placeholder="请输入金额" v-model="amount" @blur="amountBlur()">
				</div>
				<h5>优惠核销</h5>
				<button type="button" class="mui-btn mui-btn-primary mui-btn-full" @click='writeScan()'>
					优惠核销
				</button>
				<h5>收款备注</h5>
				<div class="mui-input-row">
					<input type="text" placeholder="收款备注" v-model="memo">
				</div>
				<h5>优惠金额<span>￥{{coupon}}</span></h5>
				<h5>实际应付<span>￥{{actual}}</span></h5>
				<button type="button" class="mui-btn mui-btn-primary mui-btn-full">
					收款
					<select class="mui-buyer-select select-opa0" v-model="paymentType" @change="createOrder()"  :disabled="!amount||amount==0">
							<option value="">收款</option>
							
							<option value="{{payment.paymentType}}" v-for="payment in payments">{{payment.paymentName}}</option>
					</select>
				</button>

			</div>
		</div>

	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="index.js"></script>

</html>