<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="Access-Control-Allow-Origin" content="">
	<meta http-equiv="content-security-policy">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>门店收款</title>
	<link href="../../styles/mui.css" rel="stylesheet" />
	<link href="../../styles/iconfont.css" rel="stylesheet" />
	<link href="../../styles/styleAll.css" rel="stylesheet" />
	<link href="./storeFinance.css" rel="stylesheet" />
	<link href="./vue-animate.min.css" rel="stylesheet" />
	<link href="../../styles/mui.picker.min.css" rel="stylesheet" />
	<style>

	</style>
</head>

<body class="goods-bc" id="storeFinace">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 id="title" class="mui-title">门店收款</h1>
		<!-- <a class="mui-icon iconfont icon-saomiao orderScan" @click="goItemScan"></a> -->
	</header>
	<div class="mui-content">
		<div class="store_finace_tab">
			<div class="store_finace_tab_item store_finace_center" :class="{store_finace_tab_selected:item.type == checkedtab.type}" v-for="item in tabtags" @click="checkedtab = item;">
				<span v-text="item.title"></span>
			</div>
		</div>
		<div class="store-finace-checkbar">
			<div  class="checkbar selectcheckbar">
				<select v-model="pickerUserValue">
					<option value="">全员</option>
					<option value="{{username}}" v-for="username in pickerUserData" v-text="username"></option>
				</select>
				<span class="mui-navigate-right downIcon"></span>
			</div>
			<div class="checkbar" @click="checkTime('startDate')">
				<span  v-text="startDate"></span>
				<span class="mui-navigate-right downIcon"></span>
			</div>
			<span class="datetime_checkbox_text">至</span>
			<div class="checkbar" @click="checkTime('endDate')">
				<span  v-text="endDate"></span>
				<span class="mui-navigate-right downIcon"></span>
			</div>
		</div>

		<div class="store_finace_totalamount" v-show="checkedtab.type===2" transition="slideLeft">
			<div class="store_finace_total_box">
				<div class="store_finace_text">合计</div>
				<div class="store_finace_value" style="color:green;" v-text="storeAmountStatisticsIncome.totalAmount | currency '￥'"></div>
			</div>
			<div class="mui-scroll-wrapper store_finace_scroll2" :style="{height:(uiData.scrollHeight - 44*4) + 'px'}">
				<div class="mui-scroll">
					<ul class="mui-table-view" v-if="storeAmountStatisticsIncome.listData.length>0">
						<li class="mui-table-view-cell"  v-for="item in storeAmountStatisticsIncome.listData"  @click="goStoreFinanceList(item)">
							<a class="mui-navigate-right">
								<span class="mui-badge mui-badge-success" v-text="item.amount?item.amount:0 | currency '￥'"></span>
								<img slot="icon" width="20" style="margin:0 10px; float:left;" src="./cash.png">
								<span v-text="item.paymentName+'收入'"></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="noData" v-if='!storeAmountStatisticsIncome.loading && !storeAmountStatisticsIncome.isSuccess'>
					<span  v-text="storeAmountStatisticsIncome.error"></span>
				</div>
				<div class="noData" v-if='storeAmountStatisticsIncome.loading'>
					<span>数据加载中</span>
				</div>
			</div>
		</div>
		<div class="store_finace_totalamount" v-show="checkedtab.type===1" transition="slideRight">
				<div class="store_finace_total_box">
					<div class="store_finace_text">合计</div>
					<div class="store_finace_value" style="color:red;" v-text="storeAmountStatisticsOutlay.totalAmount | currency '￥'"></div>
				</div>
				<div class="mui-scroll-wrapper store_finace_scroll2" :style="{height:(uiData.scrollHeight - 44*4) + 'px'}">
					<div class="mui-scroll">
						<ul class="mui-table-view" v-if="storeAmountStatisticsOutlay.listData.length>0">
							<li class="mui-table-view-cell"  v-for="item in storeAmountStatisticsOutlay.listData"  @click="goStoreFinanceList(item)">
								<a class="mui-navigate-right">
									<span class="mui-badge mui-badge-danger" v-text="item.amount?item.amount:0 | currency '￥'"></span>
									<img slot="icon" width="20" style="margin:0 10px; float:left;" src="./cash.png">
									<span v-text="item.paymentName+'支出'"></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="noData" v-if='!storeAmountStatisticsOutlay.loading&&!storeAmountStatisticsOutlay.isSuccess'>
						<span  v-text="storeAmountStatisticsOutlay.error"></span>
					</div>
					<div class="noData" v-if='storeAmountStatisticsOutlay.loading'>
						<span>数据加载中</span>
					</div>
			</div>
	</div>
</body>
<script src="http://cdn.bootcss.com/babel-polyfill/6.9.1/polyfill.min.js"></script>
<script src="../../js/mui.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/mui.picker.min.js"></script>
<script src="./storeFinance.js"></script>

</html>
