<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>门店收支列表</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />
		<!-- <link href="./vux/vux.css" rel="stylesheet" /> -->
		<link href="./storeFinanceList.css" rel="stylesheet" />
  <style>

  </style>
	</head>

	<body class="goods-bc" id="storeFinanceList">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title" v-text="title"></h1>
			<!-- <a class="mui-icon iconfont icon-saomiao orderScan" @click="goItemScan"></a> -->
		</header>
		<div class="mui-content" :class="{ 'incomebox': storeListData.type=='2', 'outlaybox': storeListData.type=='1' }">
				<div class="store_list_box" v-for="item in storeListStatistics.storeListStatistics" @click="goStoreFinanceDetial(item.number)">
					<span class="number" v-text="item.number"></span>
					<span class="paymentTypeName" v-text="item.paymentTypeName"></span>
					<span class="postdate" v-text="item.postdate"></span>
					<span class="orderTypeName" v-text="item.orderTypeName"></span>
					<span v-if="storeListData.type=='2'" class="amount" v-text="item.amount | currency '￥'"></span>
					<span v-if="storeListData.type=='1'" class="amount" v-text="item.amount | currency '- ￥'"></span>
				</div>
				<div class="noData" v-if='!storeListStatistics.loading && !storeListStatistics.isSuccess'>
					<span  v-text="storeListStatistics.error"></span>
				</div>
				<div class="noData" v-if='storeListStatistics.loading'>
					<span>数据加载中</span>
				</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<!-- <script src="./vue.js"></script> -->
	<!-- <script src="./vux/vux.js"></script> -->
	<script src="../../js/app.js"></script>
	<script src="./storeFinanceList.js"></script>

</html>
